#home-banner {
    font-size: 60px;
    position: absolute;
    width: 100%;
    top: 250px;
    font-family: "Rye", serif;
    color: rgba(250, 239, 239, 0.904);
    background-color: rgba(35, 88, 66, 0.74);
}
#home-container {
    display: flex;
    flex-direction: row;
}

#homediv {
    width: 50%;
}

#home-photo {
    height: 850px;
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#home-texts {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#home-heading {
    font-size: 50px;
    font-family: "Fredericka the Great", serif;
}

.home-text {
    font-size: 30px;
    text-align: left;
    margin-left: 400px;
    font-family: "Fredericka the Great", serif;
    color: black;
}
