#home-text {
    font-size: 50px;
    position: relative;
    top: 400px;
    font-family: "Niconne", cursive;
    color: rgb(255, 255, 255);
    background-color: rgba(35, 88, 66, 0.74);
}
#home-container {
    margin-top: -70px;
    background: url("../assets/background.jpg");
    background-size: 100%;
}

#home-photo {
    height: 850px;
    width: 580px;
}
