#home-text {
    font-size: 50px;
    position: absolute;
    font-family: "Monomaniac One", sans-serif;
    font-family: "Niconne", cursive;
    bottom: 65%;
    color: black;
}
#home-container {
    position: relative;
}

#home-photo {
    height: 700px;
    width: 500px;
}
