html {
	height: max-content;
}

#root {
	text-align: center;
	width: 100%;
	display: flex;
	flex-direction: column;
	background: rgb(208, 221, 195);
	height: max-content;
}

.barButtons {
	font-family: "Fredericka the Great", serif;
	font-size: 25px;
	background-color: transparent;
	color: rgb(255, 255, 255);
	transition-duration: 0.4s;

	width: 300px;
	letter-spacing: 4px;
}

.barButtons:hover {
	border: none;
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#buttonGroup {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-around;
	background-color: rgba(136, 173, 150, 0.548);
	padding-top: 30px;
	padding-bottom: 30px;
}

#home-banner {
	width: 100%;
	top: 200px;
	color: rgba(63, 82, 58, 0.904);
	letter-spacing: 35px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background-color: rgb(208, 221, 195);
	word-break: break-all;
}

.home-name {
	font-size: 100px;
	font-family: "Dancing Script", cursive;
}

#home-other {
	font-size: 20px;
	font-family: "Times New Roman", Times, serif;
	padding-left: 30px;
	padding-right: 30px;
	margin: 0;
}

#mobile-menu-button {
	position: fixed;
	right: 0;
	bottom: 50%;
	padding: 10px 5px;
	z-index: 999;
}

@media only screen and (max-width: 768px) {
	#home-banner {
		letter-spacing: 0px;
		margin: 0;
	}

	.home-name {
		font-size: 30px;
		padding: 15px 0;
		margin: 0;
	}

	#buttonGroup {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 0;

		animation: fadeInAnimation ease 2s;
		animation-iteration-count: 1;
		animation-fill-mode: forwards;
	}

	@keyframes fadeInAnimation {
		0% {
			opacity: 0;
			max-height: 0px;
		}
		100% {
			opacity: 1;
			/* normal height doesnt work */
			max-height: 1000px;
		}
	}
}
