#root {
    /* padding: 2rem; */
    text-align: center;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.barButtons {
    font-family: "Nerko One", cursive;
    font-size: 25px;
    background-color: rgba(80, 56, 34, 0.644);
    color: rgb(234, 241, 241);
    transition-duration: 0.4s;
    border-radius: 40px;
    width: 300px;
}

.barButtons:hover {
    background-color: #114d28b2;
    color: rgb(51, 47, 47);
    border: none;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.barButtons:active {
    box-shadow: 0 5px #114d28b2;
    transform: translateY(4px);
}

.selected {
    background-color: #114d28b2;
}

#buttonGroup {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
